<!-- Sidebar -->
<nav id="sidebar">
    <div class="sidebar-header">
        <h3> <br>MENU<br> </h3>
    </div>

    <ul class="list-unstyled components">
        <p></p>
        <li class="active">

            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Manager</a>
            <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                <%= link_to "Dashboard", manager_dashboard_index_path%>
                </li>
                <li>
                <%= link_to "Ordens de Serviço", manager_work_orders_path%>
                </li>
                <li>
                <%= link_to "Equipes", manager_team_leaders_path%>
                </li>
            </ul>
        </li>
        <br>
        <br>
        <br>
        <li>
        <%= link_to "Sair", destroy_user_session_path, method: :delete %>
        </li>
    </ul>
</nav>
