<div class="wrapper">
  <div id="content">
  <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
      <button type="button" id="sidebarCollapse" class="btn btn-info">
      <i class="fas fa-align-left"></i>
      <span></span>
      </button>
  <!-- </nav> -->
  <%= render 'sidebar' %>
  </div>


  <div class="container-full content-master d-flex align-items-center">
    <div class="row">
        <h4>Team / Edit</h4>
      <div class="col-12">
        <h1>Edit Team</h1>
        <%= render 'form' %>
        <%= link_to 'Cancelar', manager_team_leaders_path %>
      </div>
    </div>
  </div>
</div>



