<div class="wrapper">
  <div id="content">
    <button type="button" id="sidebarCollapse" class="btn btn-info">
    <i class="fas fa-align-left"></i>
    <span></span>
    </button>
  <%= render 'sidebar' %>
  </div>
  <div class="container-full content-master">
    <div class="row">
      <h4>Team / New</h4>
      <div class="col-12">
        <h1>Create New Team</h1>
        <%= render 'form' %>
        <%= link_to 'Cancelar', manager_team_leaders_path %>
      </div>
    </div>
  </div>
</div>
