<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <img src="" style=""/>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <img src="<%= image_path("logo1.jpg")%>" style="width: 130px; border-radius: 50%;">
    </ul>
  </div>
</div>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.volvoce.com/-/media/volvoce/global/products/compactors/asphalt-compactors/benefits/volvo-benefits-asphalt-compactor-dd25-t4i-high-performance-frequency-2324x1200.jpg?v=41QxPw);">
  <div class="container">
    <h1>W. Order</h1>
    <p>A Sua Plataforma Completa para Gestão de Equipes Externas</p>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div style="text-align:center;">
          <%= link_to 'Faça um Teste Agora!', new_user_session_path, class: "btn btn-ghost" %>
        </div>
      </div>
    </div>
  </div>
</div>
