<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="https://bcassetcdn.com/asset/logo/5c542d3d-ac0a-44f3-bc07-0afae495c3ab/logo?v=4&text=Logo+Text+Here" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://png.pngtree.com/png-clipart/20190619/original/pngtree-miner-hat-cartoon-helmet-cartoon-illustration-png-image_3962384.jpg" />
      </li>
    </ul>
  </div>
</div>




<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.volvoce.com/-/media/volvoce/global/products/compactors/asphalt-compactors/benefits/volvo-benefits-asphalt-compactor-dd25-t4i-high-performance-frequency-2324x1200.jpg?v=41QxPw);">
  <div class="container">
    <h1>W. Order</h1>
    <p>a Sua Plataforma para Gestão de Equipes Externas</p>
      <div style="text-align: center;"> <%= link_to 'Faça um Teste Agora!', new_user_session_path, class: "btn btn-ghost align-items-center" %> </div>
  </div>
</div>
