<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <img src="<%= image_path("logo1.jpg")%>" alt="">
</a>



  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://png.pngtree.com/png-clipart/20190619/original/pngtree-miner-hat-cartoon-helmet-cartoon-illustration-png-image_3962384.jpg" />
    </ul>
  </div>
</div>



<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.volvoce.com/-/media/volvoce/global/products/compactors/asphalt-compactors/benefits/volvo-benefits-asphalt-compactor-dd25-t4i-high-performance-frequency-2324x1200.jpg?v=41QxPw);">
  <div class="container">
    <h1>W. Order</h1>
    <p>A Sua Plataforma Completa para Gestão de Equipes Externas</p>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div style="text-align:center;">
          <%= link_to 'Faça umTeste Agora!', new_user_session_path, class: "btn btn-ghost" %>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
    </div>
    <div class="flip-card-back">
      <h1>John Doe</h1>
      <p>Architect & Engineer</p>
      <p>We love that guy</p>
    </div>
  </div>
</div>
 -->
