<div class="wrapper">   <!-- Igual ao d-flex -->

                <div id="content">
                <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                    </button>
                <!-- </nav> -->
                <%= render 'sidebar' %>
                </div>

                <div class="container-full   content-master">
                  <div class="row">
                    <div class="col-8">

                    <h1>Manager::WorkOrders#new</h1>
                    <%= render 'form' %>

                    </div>

                      <div class="col-4">
                      <p>Find me in app/views/manager/work_orders/new.html.erb</p>
                        <div class="row">
                          <div class="col-6">
                          <p>Renato 1</p>
                          </div>
                          <div class="col-6">
                          <p>Renato 2</p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
</div>
