#a {
  width: 100%;
  padding: 15px;
  margin: 05px;
  border-radius: 5px;
}

#b {
  width: 100%;
  padding: 15px;
  margin: 05px;
  border-radius: 2px;
}

#c {
  width: 100%;
  padding: 30px;
  margin: 05px;
  border-radius: 2px;
}

#d {
  display: inline-table;
  background-color: #e8e8e8;
  width: 100%;
  height: 200px;
  padding: 30px;
  margin: 05px;
  border-radius: 2px;
}

