#a {
  width: 100%;
  padding: 15px;
  margin: 05px;
  border-radius: 2px;
}

#b {
  width: 100%;
  padding: 15px;
  margin: 05px;
  border-radius: 2px;
}

#c {
  padding: 30px;
  margin: 05px;
  border-radius: 2px;
}
