.form-task-done {
  display: flex;
  align-self: center !important;
  height: 12px;
  justify-content: space-between !important;
}


.task-adding {
  border: 2px dashed rgba(0,0,0,0.3);
  border-radius: 15px;
  padding: 20px 15px 40px 15px;
}
