.form-postt {
    background: white;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    width: 100%;
    display: grid;
    height: 80vh;
    text-align: center;
    font-weight: bold;
    color: #666066;
    margin-bottom: 80px;
}
