body {
  background: url(https://mb.cision.com/Public/14078/2385954/b95abf31f283d6b8_org.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
