.navbar-mobile {
  justify-content: space-between;
  background: #0A2472;
  flex-direction: row-reverse;
   .fas {
    color: white;
    opacity: 0.8;
    font-size: 24px;
   }
}

.navbar-mobile .navbar-collapse {
  flex-grow: 0;
}

.navbar-mobile .navbar-brand img {
  width: 50px;
}

.nav-item {
  color: white;
  opacity: 0.8;
}
