#rowTop {
  margin-right: 100px;
  margin-top: 30px;
}

#pizza {
  margin-left: 50px;
}

#rowBottom {
  margin-right: 80px;
  margin-bottom: 35px;
}

#h2 {
  padding: 5px;
  color: white;
  text-align: center;
  background-color: green;
  border-radius: 3px;
}

#rowTopTop {
  margin-top: 15px;
}

