.user-cards {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.user-cards {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.usercard {
  position: relative;
}
