<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" >
    <img src="https://www.shareicon.net/data/128x128/2016/04/10/747355_man_512x512.png" />
</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
  </div>
</div>


<ul>
  <% @work_orders.each do |work_order| %>
    <li>
      <%= link_to "#{work_order.name}", work_order_path(work_order), :class => "btn - btn-primary" %>
    </li>
  <% end %>
</ul>
